WBA2Phase2/src/de/steinleostolski/schema/SettingsSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
			targetNamespace="http://www.example.org/ticket" 
			xmlns:tn="http://www.example.org/ticket" 
			elementFormDefault="qualified">

	<xs:element name="settings">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="IT-Bereich" type="tn:ct_itbereich"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:complexType name="ct_itbereich">
		<xs:sequence>
			<xs:element name="Fachbereich" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
</xs:schema>