WBA2Phase2/src/de/steinleostolski/schema/SimplePayloadSchema.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
			elementFormDefault="qualified">

	<xs:element name="notification">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ticketId" type="xs:string"/>
				<xs:element name="type" type="xs:string"/>
				<xs:element name="date" type="xs:dateTime"/>
				<xs:element name="tag" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>