WBA2Phase2/src/xml/UListeSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
			elementFormDefault="qualified" 
			targetNamespace="http://example.org/ticket"
			xmlns:tn="http://example.org/ticket">

	<xs:element name="userdb" type="tn:ct_user"/>
	
	<xs:complexType name="ct_user">
		<xs:sequence>
			<xs:element name="user" type="tn:ct_profile"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="ct_profile">
		<xs:sequence>
			<xs:element name="id" type="xs:string"/>
			<xs:element name="Vorname" type="xs:string"/>
			<xs:element name="Nachname" type="xs:string"/>
			<xs:element name="Standort" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>